@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #b0d4fd;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #4093ff;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #02276f;
}
